$page-margin-top: 50px;

body {
  margin-top: $page-margin-top;
}

#site-jumbotron {
  margin-top: 30px;
}

.top-panel {
  margin-top: $page-margin-top;
}

/* Bootstrap overrides */
.alert {
  padding: 8px 12px !important;
}

.panel {
  box-shadow: 0 4px 8px rgb(200, 200, 200);
}

