$body-page-margin-top: 40px;
$panel-page-margin-top: 80px;
$listView-page-margin-top: 10px;
$detailView-page-margin-top: 20px;

/*=============================================
 = basic styles
 =============================================*/
body {
  margin-top: $body-page-margin-top;
}

/*=============================================
 = ID styles
 =============================================*/
#site-jumbotron {
  margin-top: 30px;
}

/*=============================================
 = class styles
 =============================================*/
.top-panel {
  margin-top: $panel-page-margin-top;
}

.list-view {
  margin-top: $listView-page-margin-top;
}

.detail-view {
  margin-top: $detailView-page-margin-top;
}

/*=============================================
 = Bootstrap styles
 =============================================*/
.alert {
  padding: 8px 12px !important;
}

.panel {
  box-shadow: 0 4px 8px rgb(200, 200, 200);
}

.use-pointer {
  cursor: pointer;
}

/*=============================================
 = NG styles
 =============================================*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-invalid {
  border-color: #CE4766;
}

.ng-valid {
  border-color: #36ab51;
}
