$body-page-margin-top: 40px;
$panel-page-margin-top: 80px;
$listView-page-margin-top: 10px;
$detailView-page-margin-top: 20px;

body {
  margin-top: $body-page-margin-top;
}

#site-jumbotron {
  margin-top: 30px;
}

.top-panel {
  margin-top: $panel-page-margin-top;
}

.list-view {
  margin-top: $listView-page-margin-top;
}

.detail-view {
  margin-top: $detailView-page-margin-top;
}

/* Bootstrap overrides */
.alert {
  padding: 8px 12px !important;
}

.panel {
  box-shadow: 0 4px 8px rgb(200, 200, 200);
}

.use-pointer {
  cursor: pointer;
}
