<div class="row" ng-init="ctrl.initCreateView()">
  <div class="col-md-6 col-md-offset-3">

    <h3>Add a Game</h3>
    <hr>

    <!-- error message display -->
    <div class="alert alert-danger" role="alert" ng-show="ctrl.error" ng-cloak>
      <span ng-bind="ctrl.error"></span>
    </div>

    <!-- TODO form should be disabled while working -->
    <form method="POST">

      <!-- title input -->
      <div class="form-group">
        <label for="name">Title:</label>
        <input class="form-control" type="text" id="name"
               name="name" maxlength="100" placeholder="Title"
               ng-model="ctrl.newEntry.name" required>
      </div>

      <!-- platform selector -->
      <div class="form-group">
        <platform-dropdown selected="ctrl.newEntry.platform"></platform-dropdown>
      </div>

      <!-- start date datepicker -->
      <div class="form-group">
        <datepicker date-model="ctrl.newEntry.startDate" label="Start date:">
        </datepicker>
      </div>

      <!-- end date datepicker -->
      <div class="form-group">
        <datepicker date-model="ctrl.newEntry.endDate" label="End date:">
        </datepicker>
      </div>

      <!-- finished checkbox -->
      <div class="form-group">
        <input type="checkbox" id="finished" name="finished"
               ng-model="ctrl.newEntry.finished">
        <label for="finished">Finished?</label>
      </div>

      <button class="btn btn-default" ng-click="ctrl.create()">Submit</button>
    </form>

  </div>
</div>
