<div class="row" ng-init="ctrl.initCreateView()">
  <div class="col-md-6 col-md-offset-3">

    <h3>Add a Game</h3>
    <hr>

    <!-- error message display -->
    <div class="alert alert-danger" role="alert" ng-show="ctrl.error" ng-cloak>
      <span ng-bind="ctrl.error"></span>
    </div>

    <form method="POST" ng-submit="ctrl.create()" name="entryForm" novalidate>

      <div class="form-group">
        <!-- game 'title' input -->
        <label for="name">Title:</label>
        <input class="form-control" type="text" id="name" name="name"
               minlength="2" maxlength="100" placeholder="Title"
               ng-model="ctrl.newEntry.name" required>

        <!-- game 'title' validation messages -->
        <div ng-messages="entryForm.name.$error" ng-if="entryForm.$submitted">
          <div class="alert alert-warning" ng-message="required">
            This is a required field.
          </div>
          <div class="alert alert-warning" ng-message="minlength">
            Must be at least 2 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
        <!-- platform selector -->
        <!-- all values are pre-populated, so we do need to validate -->
        <platform-dropdown selected="ctrl.newEntry.platform"></platform-dropdown>
      </div>

      <div class="form-group">
      <!-- start date datepicker -->
        <datepicker date-model="ctrl.newEntry.startDate" name="startDate" label="Start date:">
        </datepicker>

        <!-- game 'startDate' validation messages -->
        <div ng-messages="entryForm.startDate.$error" ng-if="entryForm.$submitted">
          <div class="alert alert-warning" ng-message="required">
            This is a required field.
          </div>
          <div class="alert alert-warning" ng-message="pattern">
            Must be in YYYY-MM-DD format.
          </div>
        </div>
      </div>

      <div class="form-group">
      <!-- end date datepicker -->
        <datepicker date-model="ctrl.newEntry.endDate" name="endDate" label="End date:">
        </datepicker>

        <!-- game 'endDate' validation messages -->
        <div ng-messages="entryForm.endDate.$error" ng-if="entryForm.$submitted">
          <div class="alert alert-warning" ng-message="required">
            This is a required field.
          </div>
          <div class="alert alert-warning" ng-message="pattern">
            Must be in YYYY-MM-DD format.
          </div>
        </div>
      </div>

      <!-- finished checkbox -->
      <div class="form-group">
        <input type="checkbox" id="finished" name="finished"
               ng-model="ctrl.newEntry.finished">
        <label for="finished">Finished?</label>
      </div>

      <button class="btn btn-default" ng-disabled="ctrl.working">Submit</button>
    </form>

  </div>
</div>
