<div ng-init="ctrl.findOne()">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header clearfix">
        <!-- title display -->
        <h3 ng-bind="ctrl.activeEntry.name"></h3>

        <!-- 'created by' text -->
        <small>
          <em class="text-muted">
            Added on
            <span ng-bind="ctrl.activeEntry.created | date:'mediumDate'"></span>
          </em>
        </small>

        <div class="pull-right">
          <!-- 'edit' button -->
          <a class="btn btn-sm btn-primary" ui-sref="games-edit({id: ctrl.activeEntry.id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <!-- 'delete' button -->
          <a class="btn btn-sm btn-primary" ng-click="ctrl.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><strong>Title:</strong> <span ng-bind="ctrl.activeEntry.name | date:'mediumDate'"></span></p>
      <p><strong>Platform:</strong> <span ng-bind="ctrl.activeEntry.platform | date:'mediumDate'"></span></p>
      <p><strong>Start date:</strong> <span ng-bind="ctrl.activeEntry.startDate | date:'mediumDate'"></span></p>
      <p><strong>End date:</strong> <span ng-bind="ctrl.activeEntry.endDate | date:'mediumDate'"></span></p>
      <hr>
      <p><strong>Added:</strong> <span ng-bind="ctrl.activeEntry.created | date:'mediumDate'"></span></p>
      <p><strong>Last modified:</strong> <span ng-bind="ctrl.activeEntry.modified | date:'mediumDate'"></span></p>
    </div>
  </div>
</div>
