<div class="row" ng-init="ctrl.findOne()">
  <div class="col-md-10 col-md-offset-1">

    <h3>Update <span ng-bind="ctrl.activeEntry.name"></span></h3>
    <hr>

    <div class="alert alert-danger" role="alert" ng-show="ctrl.error" ng-cloak>
      <span ng-bind="ctrl.error"></span>
    </div>

    <!-- TODO form should be disabled while working -->
    <form method="POST">

      <div class="form-group">
        <label for="name">Title:</label>
        <input class="form-control" type="text" id="name"
               name="name" maxlength="100" placeholder="Title"
               ng-model="ctrl.newEntry.name" required>
      </div>

      <div class="form-group">
        <platform-dropdown ng-model="ctrl.newEntry.platform"></platform-dropdown>
      </div>

      <div class="form-group">
        <!-- TODO add datepickers -->
        <label for="name">Start date:</label>
        <input class="form-control" type="text" id="startDate"
               name="startDate" maxlength="10" placeholder="YYYY-MM-DD"
               ng-model="ctrl.newEntry.startDate" required>
      </div>

      <div class="form-group">
        <!-- TODO add datepickers -->
        <label for="name">End date:</label>
        <input class="form-control" type="text" id="endDate"
               name="endDate" maxlength="10" placeholder="YYYY-MM-DD"
               ng-model="ctrl.newEntry.endDate" required>
      </div>

      <div class="form-group">
        <input type="checkbox" id="finished" name="finished"
               ng-model="ctrl.newEntry.finished">
        <label for="finished">Finished?</label>
      </div>

      <button class="btn btn-default" ng-click="ctrl.update()">Submit</button>
    </form>

  </div>
</div>
