<div class="list-view" ng-init="ctrl.initListView()">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="page-header">
        <h3>Games</h3>
      </div>

    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-4 col-sm-offset-1">

      <!-- search/filter input -->
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>

        <input type="text" class="form-control" placeholder="Search..." ng-model="ctrl.filterText">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="ctrl.clearFilterText()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
      </div>

    </div>
  </div><!-- /row -->
  <br>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <!-- error message display -->
      <div class="alert alert-danger" role="alert" ng-show="ctrl.error" ng-cloak>
        <span ng-bind="ctrl.error"></span>
      </div>

      <div class="alert alert-info" ng-show="ctrl.shouldShowResultsAlert()" ng-cloak>
        Showing <span ng-bind="filteredGames.length"></span> results matching:
        <em><strong><span ng-bind="ctrl.filterText"></span></strong></em>
      </div>

      <div class="table-responsive" ng-hide="ctrl.working" ng-cloak>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>
              <a href="" ng-click="ctrl.setSortText('name')">Title</a>
            </th>
            <th>
              <a href="" ng-click="ctrl.setSortText('platform')">Platform</a>
            </th>
            <th class="text-center">
              <a href="" ng-click="ctrl.setSortText('startDate')">Start date</a>
            </th>
            <th class="text-center">
              <a href="" ng-click="ctrl.setSortText('endDate')">End date</a>
            </th>
            <th class="text-right">
              <a href="" ng-click="ctrl.setSortText('daysPlayed')">Enjoyed for</a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="game in filteredGames = (ctrl.entries | orderBy: ctrl.sortText | filter: ctrl.filterText)"
              class="use-pointer" ui-sref="games-detail({id: game.id})">
            <!-- title -->
            <td ng-bind="game.name"></td>

            <!-- platform -->
            <td ng-bind="game.platform.name"></td>

            <!-- start date -->
            <td class="text-center" ng-bind="game.startDate  | date:'shortDate'"></td>

            <!-- end date -->
            <td class="text-center" ng-bind="game.endDate  | date:'shortDate'"></td>

            <!-- length played display -->
            <td class="text-right">
              <span ng-bind="game.daysPlayed"></span> <span ng-bind="'day' | pluralize: game.daysPlayed"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div><!-- /row -->
</div>
