<div class="row" ng-init="ctrl.find()">
  <div class="col-md-10 col-md-offset-1">

    <h3>Games</h3>
    <hr>

    <div class="list-group">
      <a class="list-group-item" ng-repeat="game in ctrl.entries" ui-sref="games-list">
        <strong class="list-group-item-heading" ng-bind="game.name"></strong>
        <br>
        <small class="list-group-item-text">
          Added on
          <span ng-bind="game.created | date:'medium'"></span>
        </small>
      </a>
    </div>

  </div>
</div>
