<div class="row" ng-init="ctrl.find()">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h3>Games</h3>
    </div>

    <!-- TODO need to show this if there are API errors -->
    <div class="alert alert-danger" role="alert" ng-show="ctrl.error" ng-cloak>
      <span ng-bind="ctrl.error"></span>
    </div>

    <div class="list-group">


      <a class="list-group-item" ng-repeat="game in ctrl.entries"
         ui-sref="games-detail({id: game.id})">

        <div class="row">

          <!-- title/added-on display -->
          <div class="col-xs-5 text-left">
            <strong class="list-group-item-heading" ng-bind="game.name"></strong>
            <br>
            <small class="list-group-item-text">
              Added on
              <span ng-bind="game.created | date:'medium'"></span>
            </small>
          </div>

          <!-- length played display -->
          <div class="col-xs-3 text-center">
            <span>Enjoyed for:</span>
            <br>
            <strong><span>30 days</span></strong>
          </div>

          <!-- start/end date display -->
          <div class="col-xs-4 text-right">
            <small>Started:
              <span class="text-mutued" ng-bind="game.startDate  | date:'shortDate'"></span>
            </small>
            <br>
            <small>Ended:
              <span class="text-mutued" ng-bind="game.endDate  | date:'shortDate'"></span>
            </small>
          </div>

        </div><!-- /row -->
      </a>


    </div>

  </div>
</div>
